.NavBarLinkContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.NavBarLink{
    list-style: none;
    text-decoration: none;
    height: 60px;
}



.NavBarItem {
    color: white;
    align-self: center;
    cursor: pointer;
    font-size: 30px;
    align-self: center;
}

.NavBarItem:hover {
    color: cyan;
}

