.NavBarLinkContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.NavBarLink{
    list-style: none;
    text-decoration: none;
    padding: 0 1rem;
    color: white;
    font-size: 30px;
    padding-top: 18px;
}

.NavBarLink:hover {
    color: cyan;
}

