.NavBarLinkContainer {
    display: flex;
    width: 100%;
}

.NavBarLink{
    list-style: none;
    text-decoration: none;
    height: 80px;
}

.NavBarItem {
    color: white;
    align-self: center;
    cursor: pointer;
    font-size: 30px;
    align-self: center;
    width: 100%;
    margin-left: 100px;
    margin-right: 100px
}

.NavBarItem:hover {
    color: cyan;
}

