

.LogoLink{
    text-decoration: none;
    width: 55%
}

.navBarLogoContainer {
    display: flex;
    vertical-align: middle;
}
.linkContainer {
    display: flex;
}
.pokerLogo {
    padding-top: 10px;
    height: 55px;
    width: 100px;
    cursor: pointer;
}

.siteName {
    font-size: 30px;
    color: white;
    cursor: pointer;
    height: 80px;
    padding-top: 20px;
}

.siteName:hover {
    color: cyan;
}