.navBarLogoContainer {
    display: flex;
    align-items: left;
    margin-top: 10px;
    margin-left: 20px;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
}

.pokerLogo {
    width: 100px;
    height: 53px;
    
}

.siteName {
    font-size: 30px;
    color: white;
    
    margin-left: -10px;
    align-self: center;
}

.siteName:hover {
    color: cyan;
}