.home {
    
    background-image: url("background.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;   
}

.homeWrapper{
    display: inline-block;
    width: 100vw;
}

.picture{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.profilePic {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: solid grey;
    border-width: 1px;
    transition: transform .2s;
}

.profilePic:hover {
    
    transform: scale(1.2);
}

.aboutMe { 
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100vw;
    text-align: center;
}

h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 15px;
}

span {
    color: white;
    font-size: 30px;
    margin-bottom: 15px;
}

p {
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
}