.MyHardwareContainer {
    background-color: black;
    
}

.MyHardwarePart {
    min-width: 100%;
    min-width: 100%;
}

.DescriptionContainer{
    position: absolute;
    
    bottom: 1px;
    width: 100vw;
    opacity: 0.7;
}

.Description{
    color: white;
    font-size: 30px;
    background-color: black;
    font-weight: 400;
}


