.navbar {
    
    background: #141415;
    height: 80px;
    position: sticky;
    width: 100vw;
    top: 0;
    z-index: 10;
}

.navbarContainer {
    display: flex;
    justify-content: center;
    height: 80px;
    
    
}

.start {
    flex: 3;
}

.middle {
    flex: 5;
}

.end {
    flex: 4;
}